[submodule "start/vim-surround"]
	path = start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "start/lightline.vim"]
	path = start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "start/lualine.nvim"]
	path = start/lualine.nvim
	url = https://github.com/lualine/lualine
[submodule "start/darcula"]
	path = start/darcula
	url = https://github.com/doums/darcula
[submodule "start/kanagawa.nvim"]
	path = start/kanagawa.nvim
	url = https://github.com/rebelot/kanagawa
[submodule "start/tokyonight.nvim"]
	path = start/tokyonight.nvim
	url = https://github.com/folke/tokyonight
