[submodule "start/vim-surround"]
	path = start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "start/lightline.vim"]
	path = start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "start/lualine.nvim"]
	path = start/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim
[submodule "start/darcula"]
	path = start/darcula
	url = https://github.com/doums/darcula
[submodule "start/kanagawa.nvim"]
	path = start/kanagawa.nvim
	url = https://github.com/rebelot/kanagawa.nvim
[submodule "start/tokyonight.nvim"]
	path = start/tokyonight.nvim
	url = https://github.com/folke/tokyonight.nvim
[submodule "start/nvim-jdtls"]
	path = start/nvim-jdtls
	url = https://github.com/mfussenegger/nvim-jdtls
[submodule "start/nvim-lspconfig"]
	path = start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "start/nvim-treesitter"]
	path = start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "start/nvim-treesitter-context"]
	path = start/nvim-treesitter-context
	url = https://github.com/nvim-treesitter/nvim-treesitter-context
[submodule "start/nvim-treesitter-textobjects"]
	path = start/nvim-treesitter-textobjects
	url = https://github.com/nvim-treesitter/nvim-treesitter-textobjects
[submodule "start/gruvbox"]
	path = start/gruvbox
	url = https://github.com/ellisonleao/gruvbox.nvim
[submodule "start/papercolor"]
	path = start/papercolor
	url = https://github.com/NLKNguyen/papercolor-theme
[submodule "start/tabular"]
	path = start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "start/vim-commentary"]
	path = start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "start/hydra.nvim"]
	path = start/hydra.nvim
	url = https://github.com/anuvyklack/hydra.nvim.git
[submodule "start/vim-speeddating"]
	path = start/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "start/marks.nvim"]
	path = start/marks.nvim
	url = https://github.com/chentoast/marks.nvim.git
[submodule "start/vim-abolish"]
	path = start/vim-abolish
	url = https://github.com/tpope/vim-abolish/
[submodule "start/trouble.nvim"]
	path = start/trouble.nvim
	url = https://github.com/folke/trouble.nvim.git
[submodule "start/nvim-web-devicons"]
	path = start/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons.git
[submodule "start/telescope.nvim"]
	path = start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "start/plenary.nvim"]
	path = start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "start/nvim-tabline"]
	path = start/nvim-tabline
	url = https://github.com/seblj/nvim-tabline
[submodule "start/firenvim.git"]
	path = start/firenvim
	url = https://github.com/glacambre/firenvim.git
